<footer>
    <div class="medium-6 columns">
        <ul class="menu align-right">
            <li class="menu-text">Copyright ©2017 Ron Penton</li>
        </ul>
    </div>

</footer>
</body>

</html>