<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NotaMUD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./foundation.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/game">Game</a></li>
                    <% if (currentUser) { %>
                        <li><a href="/profile"><%= currentUser.name %></a></li>
                        <li><form action="/logout" method="POST"><input type="submit" value="Logout" class="button small" /></form></li>
                    <% } else { %>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/signup">Sign up</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </header>


    <% errors.forEach(function(error) { %>
        <div class="callout alert" role="alert">
          <%= error %>
        </div>
      <% }) %>
    
      <% infos.forEach(function(info) { %>
        <div class="callout primary" role="alert">
          <%= info %>
        </div>
      <% }) %>
    