<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NotaMUD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./foundation.min.css" rel="stylesheet">
    <link href="./bundle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <script src='./require.js'></script>
</head>
<body>
    
<div id="container"></div>

<script>
    document.name = "<%= currentUser.name %>";
    document.uniquename = "<%= currentUser.uniquename %>";
    document.actorid = "<%= currentUser.id %>";
</script>
<script src='./client.js'></script>

</body>
</html>