.game {
    display: grid;
    grid-template-rows: 50px auto 40px;
    grid-template-areas: "top" "output" "input";
    background: black;
    height: 100vh;
}

.top-bar {
    grid-area: top;
}

.output-area {
    grid-area: output;
    font-family: 'Roboto Mono', monospace;
    padding-left: 4px;
    padding-right: 4px;
    overflow-y: scroll;
}

.input-area {
    max-height: 40px;
    grid-area: input;
    font-family: 'Roboto Mono', monospace;
    background: white;
    color: black;
    margin: 0;

    .button {
        margin: 0;
    }
}

.generic {
    color: #eeeeee;
}

.error {
    color: red;
    font-weight: bold;
}

.global-chat {
    font-weight: bold;
    color: white;

    .identifier {
        color: #39EC39;
    }
}

.timestamp {
    color: #63aad9;
    font-weight: normal;
}